.App {
  text-align: center;
}

.counter-container {
  display: inline;
  background: rgb(172, 172, 172);
  padding: 25px 20px;
}

.h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
}

.button-container button {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  background: skyblue;
  transition: background, color ease 0.5;
  margin: 10px 20px;
  column-gap: 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: darkblue;
  color: aliceblue;
  border: none;
}